################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorApp.Web/obj
/BlazorApp.Web/bin/Debug/net10.0
/BlazorApp.Web/logs
